/* Navbar style */
/* .SERBEMA-2024_wrapper {
  position : relative;
  max-width: 2000px;
  margin   : 0 auto;
} */

* {
  padding           : 0;
  margin            : 0;
  box-sizing        : border-box;
  scroll-behavior   : smooth;
  /* overflow-x     : hidden; */
}

ul li {
  list-style: none;
  cursor    : pointer;
}

ul {
  margin-bottom: 0 !important;
}

body {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width  : 20px;
  display: none;
}

.ant-back-top {
  transition: all .3s;
  animation : BackTopAnimation 3s linear .5s infinite;
}

.ant-back-top .ant-back-top-content {
  box-shadow: 0px 0px 20px #506489;

}



@keyframes BackTopAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.count-down {
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 50px;
  background     : #009900;
  height         : 100px;
  max-width      : 600px;
  border-radius  : 12px;
  font-size      : 60px;
  font-weight    : 700;
  color          : #fff;
  font-family    : "Inter", sans-serif;
}

.toggle-btn {
  display: none;
}

.login-button,
a {
  /* color        : #506489 !important; */
  cursor       : pointer;
  padding-right: 5px;
}



.take-password a {
  color     : #000 !important;
  text-align: center;
  cursor    : pointer;
}

.take-password span {
  cursor: pointer;
}

.take-password span:hover {
  color: #009900;
}

.login-btn {
  background: red !important;
  color     : #fff;
  width     : 100%;
}

.login {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 0 10px;
}

.logout_area {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 0 10px;
}

.section-title {
  display       : block;
  width         : 100%;
  text-align    : center;
  padding       : 30px 0;
  font-family   : "Inter";
  font-size     : 40px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 48px;
  text-transform: uppercase;
  color         : #232326;
}

.register {
  overflow: hidden;
  padding : 20px;
}

.register .reg-title {
  text-align   : center;
  font-family  : "Inter";
  font-size    : 30px;
  font-style   : normal;
  font-weight  : 400;
  line-height  : 36px;
  margin-bottom: 30px;
  color        : #009900;
}

.register .submission_template_area {
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
  padding-bottom : 20px;
}

.register .submission_template_area .submission_link {
  color     : #009900;
  font-size : 16px;
  border    : 1px solid #009900;
  padding   : 10px;
  margin-top: 10px;
}

.register .submission_template_area .submission_link span {
  padding-right: 5px;
}

.reg-banner {
  display      : block;
  width        : 100%;
  margin-bottom: 30px;
  text-align   : center;
}

.reg-banner img {
  max-width : 600px;
  object-fit: contain;
  width     : 100%;

}

.custom-phone-input .PhoneInputInput {
  border       : 1px solid #d9d9d9;
  border-radius: 2px;
  padding      : 6.5px 11px;
  font-size    : 16px;
}

.navbar {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  background-color: transparent;
  height          : 80px;
  width           : 100%;
  position        : absolute;
  top             : 0;
  left            : 0;
  z-index         : 10;
  transition      : all 1s ease-in-out;
}

.navbar.active {
  height          : 4rem;
  width           : 100%;
  position        : fixed;
  top             : 0px;
  transition      : 0.3s linear;
  display         : flex;
  justify-content : stretch;
  align-items     : center;
  background-color: #FFFFFF;
  border-bottom   : 1px solid rgba(0, 0, 0, .1);
  z-index         : 40;
  box-shadow      : 0 2px 5px -1px rgba(0, 0, 0, .08);
  /* padding      : 0 7%; */
}

.navbar.hidden {
  height       : 4rem;
  width        : 100%;
  z-index      : 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow   : 0 2px 5px -1px rgba(0, 0, 0, .08);
  position     : fixed;
  top          : -106px;
  transition   : 0.3s linear;

}

.navbar .container {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  width          : 100%;
  height         : 100%;
  padding        : 0 60px;
}

.navbar .navbar-content {
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.navbar .nav-logo {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.navbar .nav-logo .company {
  color      : #506489;
  font-size  : 30px;
  font-weight: 700;
}

.navbar .nav-links ul {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.navbar .nav-links ul li {
  margin-right  : 15px;
  color         : #506489;
  font-size     : 15px;
  line-height   : 19px;
  font-family   : "Inter", sans-serif;
  font-weight   : 400;
  font-style    : normal;
  text-transform: uppercase;
  cursor        : pointer;
  transition    : all 0.3s ease;
}

.navbar .nav-links ul .submission_link a {
  padding-right: 0;
}

.navbar .nav-links ul .submission_link a span {
  padding-right: 5px;
}

.navbar .nav-links ul li .logout {
  margin     : 0;
  padding    : 0;
  font-family: "Inter", sans-serif;
  color      : #506489;

}

.navbar .nav-links ul li a {
  color: #506489 !important;
}

.navbar .nav-links ul li:hover {
  color: #263247 !important;
}

.mobile-sidebar {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.mobile-sidebar .nav-links ul .submission_link a {
  color: #232326;
}

.mobile-sidebar .nav-links ul .submission_link a span {
  padding-right: 5px;
}

.mobile-sidebar .nav-links ul li {
  color         : #232326;
  font-size     : 24px;
  text-transform: uppercase;
  line-height   : 60px;
}

.mobile-sidebar .nav-links ul .login-button a {
  color: #232326;
}

.mobile-sidebar .nav-links ul .login-button p {
  margin-bottom: 0;
}

/* Banner style */
.banner {
  width          : 100%;
  height         : 100vh;
  padding-top    : 180px;
  /* padding-left: 120px; */
  position       : relative;
  overflow       : hidden;
}

.banner .img-banner {
  width : 100%;
  height: 100%;
}

.banner .img-banner img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
  position  : absolute;
  left      : 0;
  top       : 115px;
}

.banner .title {
  height        : 100%;
  color         : #fff;
  font-size     : 40px;
  line-height   : 60px;
  font-family   : "Inter", sans-serif;
  font-weight   : 800;
  font-style    : normal;
  text-transform: uppercase;
}

.banner .date {
  margin-top     : 30px;
  width          : 100%;
  height         : 100%;
  font-size      : 20px;
  font-family    : "Inter", sans-serif;
  font-weight    : 500;
  font-style     : normal;
  text-transform : uppercase;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.banner .date .month {
  color       : #fff;
  margin-right: 20px;
}

.banner .date .day {
  color: rgba(0, 153, 0, 1);
}

.banner .location {
  margin-top : 10px;
  width      : 100%;
  height     : 100%;
  font-size  : 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color      : #fff;
}

.banner .button-box {
  width          : 100%;
  position       : absolute;
  bottom         : 10px;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : flex-start;
}

.menu-button {
  color             : #506489;
  padding           : 20px 100px;
  margin-right      : 30px;
  margin-bottom     : 15px;
  /* width          : 430px; */
  border            : 4px solid #506489;
  text-transform    : uppercase;
  font-size         : 20px;
  font-family       : "Inter", sans-serif;
  font-weight       : 400;
  display           : flex;
  justify-content   : center;
  align-items       : center;
  cursor            : pointer;
  transition        : all 0.3s ease;
  backdrop-filter   : blur(5px);
}

.menu-button:hover {
  border: 4px solid #fff;
  color : #009900;
}

.card-box {
  border-radius         : 12px;
  /* margin-bottom      : 20px; */
  /* height             : 100%; */
}

.commitee,
.speakers,
.schedule,
.expect,
.papers,
.counter,
.social_media_area {
  margin-top: 60px;
  padding   : 0 150px;
}

.commit-card {
  min-height     : 400px !important;
  padding        : 20px;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
  flex-direction : column;
  background     : #009900;
  border-radius  : 12px;
}

.commit-card .img-box {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 170px;
  height         : 170px;
}

.commit-card .img-box .img_url {
  width : 100%;
  height: 100%;
}

.commit-card .img-box img {
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 50%;
}

.commit-card .name {
  margin-top    : 20px;
  color         : #fff;
  font-family   : "Inter", sans-serif;
  font-size     : 20px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 25px;
  letter-spacing: 0em;
  text-align    : center;
  text-transform: uppercase;
}

.commit-card .name .img_url {
  color: #fff;
}

.commit-card .proffesion {
  font-family   : "Inter", sans-serif;
  font-size     : 15px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : center;
  text-transform: uppercase;
  margin-top    : 5px;
  color         : #232326;
}

.commit-card .job {
  font-family   : "Inter", sans-serif;
  font-size     : 15px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : center;
  text-transform: uppercase;
  margin-top    : 8px;
  color         : #232326;
}

.commit-card .country {
  font-family   : "Inter", sans-serif;
  font-size     : 15px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : center;
  text-transform: uppercase;
  margin-top    : 8px;
  color         : #232326;
}

.commit-card .degree {
  font-family   : "Inter", sans-serif;
  font-size     : 15px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : center;
  margin-top    : 8px;
  color         : #232326;
}

.speak-card {
  padding        : 60px 20px;
  min-height     : 350px;
  display        : flex;
  justify-content: space-between;
  align-items    : flex-start;
  background     : #009900;
  border-radius  : 12px;
}

.speak-card .right-box {
  padding-left: 40px;
}

.speak-card .right-box .proffesion,
.speak-card .right-box .defination {
  font-family   : "Inter";
  font-size     : 20px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 24px;
  letter-spacing: 0em;
  text-align    : left;
  color         : #232326;
  text-transform: uppercase;
}

.speak-card .right-box .defination {
  color    : #fff;
  margin   : 20px 0;
  font-size: 16px;
}

.speak-card .right-box .defination .img_url {
  color: #fff;

}

.speak-card .right-box .country,
.speak-card .right-box .degree {
  font-family   : "Inter";
  font-size     : 20px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : left;
  margin-bottom : 15px;
  color         : #232326;
}

.read-more {
  border         : 1px solid rgba(35, 35, 38, 1);
  height         : 35px;
  width          : 150px;
  border-radius  : 4px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : #fff;
  cursor         : pointer;
  transition     : all 0.3s ease;
  text-transform : capitalize;
}

.read-more:hover {
  background: #559900;
  border    : 1px solid #fff;
}

.speak-card .left-box .img-box {
  width : 210px;
  height: 210px;
}

.speak-card .left-box img {
  width        : 100%;
  height       : 100%;
  border-radius: 50%;
  object-fit   : cover;
}

.keynote-card {
  min-height     : 400px;
  padding        : 20px;
  border         : 2px solid rgba(0, 153, 0, 1);
  border-radius  : 12px;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
}

.keynote-card .img-box {
  width        : 170px;
  height       : 170px;
  margin-bottom: 24px;
}

.keynote-card .img-box .img_url {
  width : 100%;
  height: 100%;
}

.keynote-card .img-box img {
  height       : 100%;
  width        : 100%;
  border-radius: 50%;
  object-fit   : cover;
}

.keynote-card .name {
  font-family   : "Inter";
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 24px;
  letter-spacing: 0em;
  text-align    : center;
  color         : #009900;
  margin-bottom : 10px;
  text-transform: uppercase;
}

.keynote-card .name .img_url {
  color: #009900;
}

.keynote-card .university {
  font-family   : "Inter";
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : center;
  margin-bottom : 10px;
  color         : #232326;
  text-transform: uppercase;
}

.keynote-card .country {
  font-family   : "Inter";
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 18px;
  letter-spacing: 0em;
  text-align    : center;
  color         : #009900;
  margin-bottom : 10px;
  text-transform: uppercase;
}

.keynote-card .degree {
  font-family   : "Inter";
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : center;
  margin-bottom : 10px;
  color         : #232326;
}

.schedule {
  width     : 100%;
  min-height: 80vh;
}

.schedule .schedule-date {
  display        : block;
  background     : #fff;
  width          : 100%;
  height         : 70px;
  border-radius  : 12px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.schedule-date .title {
  height          : 100%;
  width           : 30%;
  border-radius   : 12px;
  background-color: #009900;
  display         : flex;
  justify-content : center;
  align-items     : center;
  font-family     : "Inter";
  font-size       : 20px;
  font-style      : normal;
  font-weight     : 500;
  line-height     : 36px;
  letter-spacing  : 0em;
  color           : #fff;
  padding         : 30px 40px;
}

.schedule-date .date {
  width          : 20%;
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-family    : "Inter";
  font-size      : 18px;
  font-style     : normal;
  font-weight    : 500;
  line-height    : 36px;
  letter-spacing : 0em;
  text-align     : left;
  transition     : all 0.3s ease;
  cursor         : pointer;
}

.schedule-date .date:hover {
  background   : #009900;
  color        : #fff;
  border-radius: 12px;
}

.schedule-date .date.active {
  background   : #009900;
  border-radius: 12px;
  color        : #fff;
}

.schedule .schedule-box {
  background   : #232326;
  width        : 100%;
  height       : 100%;
  border-radius: 12px;
  padding      : 60px 200px;
}

.ant-steps-vertical>.ant-steps-item .ant-steps-item-content {
  min-height: 90px;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color         : #fff !important;
  font-family   : "Inter";
  font-size     : 20px;
  font-style    : normal;
  font-weight   : 500;
  line-height   : 36px;
  letter-spacing: 0em;
}

.right-step-column .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
.right-step-column .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  text-align   : right !important;
  width        : 100%;
  padding-right: 20px;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot,
.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #009900 !important;
}

.step-custom-style {
  display   : flex;
  margin-top: 100px;
}

.right-step-column .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot,
.right-step-column .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  display: none !important;
}

.ant-btn-primary {
  border-color: #009900 !important;
  background  : #009900 !important;
}

/* .ant-upload {
  width : 100%;
  height: 150px !important;
} */
.ant-upload-list {
  display        : flex;
  justify-content: center;
}

.ant-upload-list .ant-upload.ant-upload-select-picture-card {
  border-radius: 12px;
  width        : 200px;
  height       : 200px;
}

.ant-upload button {
  width        : 100%;
  height       : 100%;
  border-radius: 12px;
}

.expect-card {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-start;
  margin-bottom  : 50px;
}

.expect-card .icon img {
  width : 55px;
  height: 55px;
}

.expect-card .text-content {
  padding-left: 20px;
}

.expect-card .title {
  font-family   : "Inter";
  font-size     : 30px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 36px;
  letter-spacing: 0em;
  text-align    : left;
  margin-bottom : 20px;
}

.expect-card .description {
  font-family   : "Inter";
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 35px;
  letter-spacing: 0em;
  text-align    : justify;
}

/* .papers-card {
  min-height: 550px;
} */

.papers-card .card-footer {
  display      : block;
  width        : 100%;
  height       : 150px;
  background   : #01306B;
  border-radius: 0 0 12px 12px;
  padding      : 20px;
}

.papers-card .img-box {
  height: 360px;
}

.papers-card .img-box img {
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 12px 12px 0 0;
}

.papers-card .card-footer .title {
  display              : flex;
  justify-content      : center;
  align-items          : center;
  width                : 100%;
  height               : 30px;
  font-family          : "Inter";
  font-size            : 17px;
  font-style           : normal;
  font-weight          : 700;
  line-height          : 20px;
  letter-spacing       : .1em;
  text-align           : center;
  text-transform       : uppercase;
  /* color             : #009900; */
  color                : #fff;
}

.papers-card .card-footer .link {
  height         : 58px;
  width          : 277px;
  border-radius  : 6px;
  border         : 2px solid rgba(255, 255, 255, 1);
  font-family    : "Inter";
  font-size      : 20px;
  font-style     : normal;
  font-weight    : 400;
  line-height    : 24px;
  letter-spacing : 0em;
  text-align     : left;
  text-transform : uppercase;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : #fff;
  margin         : 0 auto;
  margin-top     : 20px;
  cursor         : pointer;
}

.papers-card .card-footer .link a {
  color: #fff !important;
}

.papers-card.position {
  position: relative;
  height  : 360px;
}

.position .img-box img {
  border-radius: 12px;
}

.position .card-footer {
  position       : absolute;
  bottom         : 0;
  background     : rgba(0, 153, 0, 0.6);
  height         : 107px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.position .card-footer .title {
  color: #fff;
}

.stay-card {
  border       : 2px solid rgba(0, 153, 0, 1);
  min-height   : 100%;
  border-radius: 12px;
  padding      : 50px;
}

/* .papers .ant-row .ant-col {
  margin-bottom: 20px;
} */

.papers .ant-row .card-box {
  height: 100%;
}

.papers .ant-row .card-box .stay-card {
  height: 100%;
}

.papers .ant-row .card-box .stay-card .stay_image_area {
  padding   : 0 0 10px;
  text-align: center;
}

.papers .ant-row .card-box .stay-card .stay_image_area .stay_image {
  width     : 80%;
  max-width : 312px;
  object-fit: contain;
}

.stay-card .title {
  font-family: "Inter";
  font-size  : 25px;
  font-style : normal;
  font-weight: 400;
  line-height: 36px;
}

.stay-card .title .card_price {
  text-align: center;
}

.stay-card .price {
  font-family: "Inter";
  font-size  : 60px;
  font-style : normal;
  font-weight: 800;
  line-height: 70px;
  color      : #009900;
  text-align : center;
}

.stay-card .price .old-price {
  text-decoration: line-through;
}

.stay-card .description {
  font-family: "Inter";
  font-size  : 20px;
  font-style : normal;
  font-weight: 400;
  line-height: 36px;
  margin     : 20px 0;
}

.stay-card .read-more {
  color : #000;
  border: 2px solid #009900;
  margin: 0 auto;
}

.rule .drop {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.rule .drop img {
  width : 60px;
  height: 90px;
}

.rule-box {
  padding      : 20px 100px;
  background   : #009900;
  border-radius: 12px;
}

.rule {
  padding       : 0 300px;
  font-family   : "Inter";
  font-size     : 20px;
  font-style    : normal;
  font-weight   : 600;
  text-align    : center;
  color         : #fff;
  text-transform: uppercase;
  margin-bottom : 30px;
}

.contact {
  margin-top: 20px;
}

.contact-card {
  padding   : 0 250px;
  margin-top: 60px;
}

.contact-card .card-item {
  border         : 1px solid rgba(0, 153, 0, 1);
  height         : 250px;
  border-radius  : 12px;
  padding        : 25px;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.contact-card .text-box {
  padding-left: 30px;
}

.contact-card .title {
  font-family   : "Inter";
  font-size     : 24px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 24px;
  letter-spacing: 0em;
  text-align    : left;
  color         : #009900;
  text-transform: uppercase;
}

.contact-card .description {
  font-family   : "Inter";
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 24px;
  letter-spacing: 0em;
  text-align    : left;
  margin-top    : 20px;
  color         : #232326;
}

.contact-card .description a {
  font-family   : "Inter";
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 24px;
  letter-spacing: 0em;
  color         : #232326;
}

.contact-form {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.contact-form .form-title .title {
  margin        : 90px 0 30px;
  font-family   : "Inter";
  font-size     : 40px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 48px;
  letter-spacing: 0em;
  text-align    : center;
  text-transform: uppercase;
}

.contact-form .sub-title {
  font-family   : "Inter";
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 300;
  line-height   : 24px;
  letter-spacing: 0em;
  text-align    : center;
  width         : 450px;
}

.contact-form .contact-form {
  margin-top: 70px;
  width     : 100%;
  padding   : 0 350px;
}

.contact-form form {
  width: 100%;
}

.logo-link .img-box {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  height         : 130px;
  transition     : all .2s;
}

.logo-link .img-box img {
  height       : 100px;
  width        : 100%;
  border-radius: 0;
  object-fit   : contain;
}

.logo-link .img-box:hover {
  transform: scale(1.2);
  position : relative;
}

@media (max-width: 768px) {
  .covid_info {
    display: none;
  }

  .count-down {
    font-size: 45px;
  }

  .banner {
    height: 40vh;
  }

  .banner .img-banner img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    position  : absolute;
    left      : 0;
    top       : 45px;
  }

  .navbar {
    height         : 60px;
    justify-content: flex-end;
  }

  .navbar .nav-logo .company {
    color      : #fff;
    font-size  : 20px;
    font-weight: 700;
  }

  .navbar .container {
    padding: 0;
  }

  .navbar .nav-logo img {
    width: 60px;
  }

  .navbar .nav-links {
    display: none;
  }

  .toggle-btn {
    width  : 50px;
    display: block;
  }

  .commitee,
  .speakers,
  .schedule,
  .expect,
  .papers,
  .counter {
    padding: 0 10px;
    margin : 0;
  }

  .speak-card {
    align-items   : center;
    flex-direction: column;
  }

  .speak-card .left-box {
    margin-bottom: 20px;
  }

  .speak-card .right-box {
    padding   : 0;
    text-align: center !important;
  }

  .schedule .schedule-box {
    padding: 20px 10px;
  }

  .rule {
    padding: 0 10px;
  }

  .contact-card {
    padding      : 0 10px;
    margin-bottom: 20px;
  }

  .contact-form .contact-form {
    padding: 0 20px;
  }

  .banner .title {
    font-size  : 20px;
    line-height: 35px;
  }

  .contact-form .sub-title {
    width  : 100%;
    padding: 0 10px;
  }

  .rule-box {
    padding: 20px;
  }

  .schedule-date .date {
    font-size: 12px;
  }

  .schedule-date .title {
    font-size  : 14px;
    line-height: 20px;
  }

  .section-title {
    font-size: 20px;
  }

  .banner .button-box {
    width: 100%;
  }

  .menu-button {
    display     : none;
    padding     : 0;
    width       : 100%;
    margin-right: 0;
  }

  .contact-form .form-title .title {
    margin   : 0px 0px 10px;
    font-size: 20px;
  }

  .contact-card .card-item {
    margin-bottom: 20px;
  }

  .register {
    padding: 10px;
  }

  .reg-banner {
    height: 100%;
  }

  .register .reg-title {
    font-size: 20px;
  }

  .card-box .stay-card .title {
    font-size: 20px;
  }

  .expect-card .title {
    font-size: 20px;

  }

  .expect-card .description {
    font-size: 16px;
  }

  .card-box.conference_fee .title h3 {
    font-size: 20px;
  }

  .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
  .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    font-size: 16px;
  }

}

@media (min-width: 1024px) and (max-width: 1366px) {
  .count-down {
    font-size: 45px;
  }

  .banner {
    min-height: 60vh !important;
  }

  .navbar {
    display: none;
  }

  .commitee,
  .speakers,
  .schedule,
  .expect,
  .papers,
  .counter {
    padding: 0 10px;
    margin : 0;
  }

  .speak-card {
    align-items   : center;
    flex-direction: column;
  }

  .speak-card .left-box {
    margin-bottom: 20px;
  }

  .speak-card .right-box {
    padding   : 0;
    text-align: center !important;
  }

  .schedule .schedule-box {
    padding: 20px 10px;
  }

  .rule {
    padding: 0 10px;
  }

  .contact-card {
    padding      : 0 10px;
    margin-bottom: 20px;
  }

  .contact-form .contact-form {
    padding: 0 20px;
  }

  .contact-form .sub-title {
    width  : 100%;
    padding: 0 10px;
  }

  .rule-box {
    padding: 20px;
  }

  .schedule-date .date {
    font-size: 12px;
  }

  .schedule-date .title {
    font-size  : 14px;
    line-height: 20px;
  }

  .section-title {
    font-size: 20px;
  }

  .contact-form .form-title .title {
    margin-top: 0px;
    font-size : 20px;
  }

  .contact-card .card-item {
    margin-bottom: 20px;
  }

  .expect-card .title {
    font-size: 20px;

  }

  .expect-card .description {
    font-size: 16px;
  }

  .card-box.conference_fee .title h3 {
    font-size: 20px;
  }

  .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
  .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    font-size: 16px;
  }
}